# File should be renamed to .env and placed in the root of your application
DB_HOST=YOUR_MYSQL_HOST
DB_USER=YOUR_MYSQL_USER
DB_PASS=YOUR_MYSQL_PASSWORD
DB_NAME=YOUR_MYSQL_DATABASE

NODEMAILER_USER="GMAIL_USER%40gmail.com"
NODEMAILER_PASS=GMAIL_PASSWORD
NODEMAILER_TO_USER=EMAIL_ADDRESS
